.main{
    min-height: 100vh;
    min-width:100vw;
    position: relative;
}
.child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;
    min-width: 60vw;
}
.child p{
    font-size: 30px;
}
.child h1{
    color: maroon;
    font-weight: bold;
}